* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(1, 1, 36);
  display: grid;
  align-items: center;
}
main {
  display: grid;
  grid-template-areas:
    "a a b"
    "a a b  "
    "a a b"
    "e c c  "
    "e d d  "
    "e d d";
  grid-column-gap: 0.7em;
  grid-row-gap: 0.7em;
  
  width: 40%;
  margin: auto;
  min-height: 50vh;
 margin-top: 50px;
 height: 60vh;
}
main div {
  padding: 2em;
  text-align: center;
 
}
.orange {
  background-color: rgb(255, 106, 0);
  color: rgb(255, 106, 0);
  grid-area: a;
  
}
.yellow {
  background-color: rgb(255, 187, 0);
  color: rgb(255, 187, 0);
  grid-area: b;

}
.green {
  background-color: rgb(64, 182, 64);
color: rgb(64, 182, 64);
  grid-area: e;
  
}
.blue1 {
  background-color: rgb(43, 150, 232);
  color: rgb(43, 150, 232);
  grid-area: c;
  

}
.blue2 {
  background-color:rgb(43, 150, 232);
color: rgb(43, 150, 232);
  grid-area: d;
 

}
